@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --base--color1:#000814;
    --base--color2:#001D3D;
    --base--color3:#003566;
    --base--color4:#CCA000;
    --base--color5:#F5CC00;
    --base--color6:#FFEDE1;
    --base--color7:#F9FBF2;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #003566;
}

.header h1{
    font-size: 50px;
    font-weight: bolder;
    color: #CCA000;
    /* background-color: #001D3D;
    background-image: linear-gradient(45deg, #CCA000, #ffafcc);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
    letter-spacing: 5px;
}

.nav-menu li{
    list-style: none;
    display: inline;
    padding: 0 20px;
    font-size: 22px;;
}

.nav-menu a{
    color: #F5CC00;
    text-decoration: none;
}

.timeline-box{
    width: 100%;
    background: #fff7f1;
    height: 100%;
    
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
    width: 1000px;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 90%;
    background: #001D3D;

}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li{
    line-height: normal;
    position: relative;
    width:50%;
    padding: 20px 40px;
    box-sizing: border-box;
    list-style: none;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.timeline ul li:nth-child(odd):before{
    content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F5CC00;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 53, 102, 0.2);
    top: 24px;
    right: -6px;
}

.timeline ul li:nth-child(even):before{
    content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F5CC00;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 53, 102, 0.2);
    top: 24px;
    left: -5px;
}

.content h3{
    display: inline;
    color: #001D3D;
    border: 1px solid #CCA000;
    border-radius: 5px;
    background: #CCA000;
    padding: 5px;
    box-shadow: 5px 8px 8px #888888;
}

.content p{
    padding-top: 15px;
    color: #001D3D;
}

.time h4{
    display: inline;
    padding: 5px;
    color: #fff;
    border: 1px solid #003566;
    border-radius: 5px;
    background: #003566;
}