.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

    @include breakpoint(third-big){
        height: 55vh;
    }

.about-container{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(second-big){
        flex-direction: column;
    }
    

    .about-me{
        height: 120px;
        margin-right: 40px;

        @include breakpoint(second-big){
            padding-right: 20px;
            padding-top: 10px;
            margin-right: 20px;
        }
          @include breakpoint(third-big){
            padding-top: 5px;
            width: 100%;
            text-align: center;
            margin-right: 0;
            padding-right: 0;
        }
        
         h1{
            font-size: $titleTxt;
            @include breakpoint(second-big){
                font-size: $titleTxt-mq2;
                padding-bottom: 20px;
                padding-top: 0;
              }
            @include breakpoint(third-big){
                font-size: 40px;

            }
         }
    }

    .text-intro{
        width: 50%;
        border-left: 1px solid gray;
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        @include breakpoint(second-big){
            padding-left: 0;
            border-left: 0 solid gray;
            width: 80%;
            justify-content: center;
        }
        @include breakpoint(third-big){
            width: 80%;
            justify-content: center;
            align-items: center;
            border-left: 0 solid gray;
            padding-left: 0;
        }
    
    .text{
        width: 100%;
        margin-bottom: 20px;
        p{
            font-size: $bodyH2;
            @include breakpoint(third-big){
                font-size: $bodyH2-mq2;
                padding-top: 10px;
                text-align: center;
            }
        }
        
    }

    .second-about{
        margin-bottom: 20px;
        @include breakpoint(third-big){

            text-align: center;
        }
    }
    
    }

    .ability{
        display: flex;
        flex-direction: column;
        
        

        p{
            margin-bottom: 10px;
            font-size: $bodyH2;
            @include breakpoint(third-big){
                font-size: $bodyH2-mq2;
                padding-top: 10px;
                text-align: center;
            }
        }

        .skill-set{
            display: flex;
            justify-content: center;
            align-items: center;
            @include breakpoint(second-big){
                justify-content: flex-start;
            }

            .first-skill{
                margin-left: 40px;
                
                
                li{
                    line-height: 150%;
                }
                
            }

            .second-skill{
                padding-left: 40px;
                
                li{
                    margin-left: 20px;
                    line-height: 150%;
                }
            }

            .third-skill{
                padding-left: 40px;
        
                li{
                    margin-left: 20px;
                    line-height: 150%;
                }
            }
        }
    }
}
}

// Resume
.bg-image {
    background-image: url(../images/header/1.jpg);
    filter: saturate(5%);
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include breakpoint(third-big){
        display: none;
    }
}

.bg-text {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -250%);
    z-index: 2;

    @include breakpoint(third-big){
        transform: translate(0%, 0%);
        color: rgb(116, 116, 116);
    }

    h1{
        padding-bottom: 60px;
        @include breakpoint(third-big){
            display: none;
        }
    }
    
    .resume-btn{
        padding: 10px 20px;
        color: #fff;
        border: 2px solid #fff;
        background: transparent;
        outline: none;
        transition: 0.35s;
        font-size: 22px;
        text-decoration: none;
        @include breakpoint(third-big){
            font-size: 18px;
            padding: 5px 10px;
            color: rgb(121, 121, 121);
        border: 1px solid rgb(121, 121, 121);
        }

        &:hover {
            background: rgb(211, 211, 211);
        }
    }
}