.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

.about-container{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-me{
        
        height: 120px;
        padding-right: 40px;
        padding-top: 10px;
        margin-right: 40px;
         h1{
            font-size: $titleTxt;
         }
    }

    .text-intro{
        width: 50%;
        border-left: 1px solid gray;
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    
    .text{
        width: 100%;
        margin-bottom: 20px;
        p{
            font-size: $bodyH2;
        }
    }

    .second-about{
        margin-bottom: 20px;
    }
    
    }

    .ability{
        display: flex;
        flex-direction: column;
        

        p{
            margin-bottom: 10px;
            font-size: $bodyH2;
        }

        .skill-set{
            display: flex;

            .first-skill{
                margin-left: 40px;
                
                li{
                    line-height: 150%;
                }
                
            }

            .second-skill{
                padding-left: 40px;
                
                li{
                    margin-left: 20px;
                    line-height: 150%;
                }
            }

            .third-skill{
                padding-left: 40px;
        
                li{
                    margin-left: 20px;
                    line-height: 150%;
                }
            }
        }
    }
}
}

.bg-image {
    background-image: url(../images/header/1.jpg);
    filter: saturate(5%);
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-text {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -250%);
    z-index: 2;

    h1{
        padding-bottom: 60px;
    }
    
    button{
        padding: 10px 20px;
        color: #fff;
        border: 2px solid #fff;
        background: transparent;
        outline: none;
        transition: 0.35s;
        font-size: 22px;
        &:hover {
            background: rgb(211, 211, 211);
        }
    }
}