.portfolio-wrapper{
    height: 60vh;

    .portfolio-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}