
$max: 8;

#grid > div{
    // width: $equ;
    height: 400px;
    // background: gray;
    box-sizing: border-box;
    float: left;
    margin: 10px auto;
    padding:20px;
       
}

@for $i from 1 through $max {

    $equ: 100% / $i;

    #grid.cell-#{ $i } > div {
        width: $equ;
    }
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    h2{
        font-size: $titleTxt;
        margin: 20px auto 40px auto;
        border-bottom: 1px solid gray;
        width: 40%;
        padding: 30px;
        text-align: center;

    }
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width:100%;
    height:100%;

.works{
    box-shadow:0px 13px 7px grey;
    &:hover{
        box-shadow:0px 13px 7px rgb(115, 99, 133);
    }
}

.work1 { //porfolio v1
    width:100%;
    height:100%;
    background: url(../images/portfolio/computer1.jpg);
    background-size: cover;
}
.work2 { //Calculator
    width:100%;
    height:100%;
    background: url(../images/portfolio/calculator.jpg);
    background-size: cover;
}
.work3 { //PW gen
    width:100%;
    height:100%;
    background: url(../images/portfolio/password1.jpg);
    background-size: cover;
}
.work4 { //Code Quiz
    width:100%;
    height:100%;
    background: url(../images/portfolio/codequiz.jpg);
    background-size: cover;
}
.work5 { //work-day-scheduler
    width:100%;
    height:100%;
    background: url(../images/portfolio/screenshot.jpg);
    background-size: cover;
}
.work6 { //weather
    width:100%;
    height:100%;
    background: url(../images/portfolio/denver.jpg);
    background-size: cover;
}
.work7 { //Meal Q
    width:100%;
    height:100%;
    background: url(../images/portfolio/mealQ.jpg);
    background-size: cover;
}
.info {
    width: 100%;
    height: auto;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 13px 7px grey;
}
h1{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(194, 194, 194);
} 

p{
    color: rgb(141, 141, 141);
    padding: 10px 0;
}

.link{
    
   
    padding: 10px 0;

    a{
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 3px;
        background-color: transparent;

        &:hover{
            color: rgb(185, 155, 255);
            border: 1px solid rgb(185, 155, 255);
        }

        &:active{
            color: rgb(255, 23, 23);
            border: 1px solid rgb(255, 23, 23);
        }
    }
}
}


